/* common */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo-part {
  color: #2e2f42;
}

.footer-logo-part {
  color: #f4f4fd;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current::after {
  background-color: #404bbf;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background-color: #404bbf;
}

.header-nav-link.current,
.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero section */

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 0 auto;
}

.btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn {
  height: 56px;
  min-width: 169px;
  margin: 48px auto 0 auto;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* benefits section */

.benefits-section {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-item-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  height: 112px;
  background-color: #f4f4fd;

  margin-bottom: 8px;
  position: relative;
}

.benefits-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* team section */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  padding: 32px 0;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-item-circle {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item-circle:hover,
.socials-item-circle:focus {
  background-color: #404bbf;
}

.socials-item-icon {
  position: absolute;
  fill: #f4f4fd;
}

/* portfolio section */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.porftolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.porftolio-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-img-n-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porftolio-item:hover .portfolio-item-img-overlay {
  transform: translateY(0%);
}

.porftolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-img-overlay-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 296px;
  margin: 40px 32px 0 32px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.logo-n-slogan {
  margin-right: 120px;
}

.footer-items {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-right: 80px;
}

.footer-socials-media,
.footer-subscribe {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-socials-list {
  gap: 16px;
}

.footer-socials-item-circle:hover,
.footer-socials-item-circle:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  display: block;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: inherit;
}

.subscribe-btn {
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 16px;

  min-width: 165px;
  height: 40px;

  text-align: start;
  padding: 0 24px;
}

.subscribe-icon {
  fill: #fff;
}

/* modal form */

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-x-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.x-btn-icon {
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-x-btn:hover,
.modal-x-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-x-btn:hover .x-btn-icon,
.modal-x-btn:focus .x-btn-icon {
  fill: #fff;
}

.modal-form-title {
  text-align: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-form {
  display: inherit;
  flex-direction: column;
}

.modal-form-label-div {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-icon {
  position: relative;
}

.modal-form-input,
.modal-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within,
.modal-form-textarea:focus-within {
  border-color: #4d5ae5;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;
}

.modal-form-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea-div {
  margin-bottom: 16px;
}

.modal-form-textarea {
  padding: 8px 16px;
  resize: none;

  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus-within + .modal-form-icons {
  fill: #4d5ae5;
}

.modal-form-label-conditions {
  margin: 0;
}

.checkbox-n-conditions {
  margin-bottom: 24px;
}

.modal-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked
  + .modal-form-label-conditions
  .modal-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-conditions-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-btn {
  align-self: center;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
